body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .main-header {
    margin: 10px;
    padding: 20px;
    background: rgba(0,0,0,.5)
  }
  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: 10px;
  
  }
  .overviewcard {
    margin: 5px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,.6) ;
    margin-bottom: 5px;
    -webkit-column-break-inside: avoid;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px
  }
  /* Non-mobile styles, 750px breakpoint */
  @media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
      grid-template-columns: 240px 1fr;
      grid-template-areas:
        "sidenav header"
        "sidenav main"
    } 
  }
  /* Medium screens breakpoint (1050px) */
  @media only screen and (min-width: 70.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
  }