.search {
    width: 100vw;
    height: 7vh;
    max-height: 40px;
    background: rgba(0,0,0,.8);
    vertical-align: middle;
    top: 12vh;
    margin: 0; 
	padding: 0;
	width: 100%;
	position: fixed;
	display: flex;
  z-index: 9999;
    align-items: center;
    input {
      position: fixed;
        font-size: 16px;
      float: left;
      color: #fff;
      border: 0;
      background: transparent;
      width: 100VW;
      text
      &:focus {
        outline: 0;
        border: silver;
        background:transparent;
        z-index: 100;
      }
    }
    .Sreachlist{
        width: 100vw;
        height: 5vh;   
        background: rgba(0,0,0,1);
        color: #fff;
        border-radius:  10px;
        justify-content: space-around;
        display: flex; 
        align-items:center;
        margin: 1px 0px;
        z-index: 111;
        text-decoration: none;
    }
    .list-container{
        position: fixed;
        top: 17vh;
        z-index: 12;
        background-color: transparent;
        border-radius: 0;
    }
    .col{
        width: 100px;
       z-index: 10;
    }
    
  }
  // SEARCH ENDS