html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: monospace;
    background:  #243b55;
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;

    transition: background-color 5000s ease-in-out 0s;
}
  
  #Delete_Button{
    background-color: red;
    color: #fff;
    border: 0;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
    
  }
  #Delete_Button:hover{
    background-color: #fff;
    color: red;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    min-width: 300px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.95);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    z-index: 10;
    margin-top: 12vh;
  }
  
  .login-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .login-box .Time_Icon {
    color: #03e9f4;
    opacity: .5;
    width: 100%;
    justify-self: center;
    align-self: center;
    
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    
  }
   .DateInput {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px; 
  }
  
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form .button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: transparent;
  }

  
  .login-box .button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box .button span {
    position: absolute;
    display: block;
  }
  
  .login-box .button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box .button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  fieldset {
    border-radius: 5px;
    width: max-content;
    display: inline-block;
    color: white;
    }
    h2{
      font-size: large;
    }
     
    .in_put{
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    color: #fff;
    width :48%;
    padding: 0px 0;
    border:.5px;
    border-color: turquoise;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    }    
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box .button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box .button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
  }
   
  .box-in-popup{
    z-index: 999;
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
   margin-top: calc(100vh - 70vh - 20px);
    background: #141e30;
    border-radius: 4px;
    padding: 20px;
    overflow: auto;
    color: aqua;
    text-align: center;
    
  }
   
  .close-icon {
    z-index: 999;
    position: fixed;
    color: #03e9f4;
    right: calc(15% - 30px);
    top: calc(100vh - 70vh - 33px);
    width: 32px;
    height: 32px;
    text-align: center;
    
  }
  .close-icon-timecard {
    z-index: 010;
    position: absolute;
    color: #03e9f4;
    right: -10px;
    top: -15px;
    width: 32px;
    height: 32px;
    text-align: center;
    
  }
.Error_Icon{
 color: red;

}
.Sucess_Icon{
  color: lime;
  
}