
.container {
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  position: relative;
  padding: 0;
  #Add_Icon{
  
    position: absolute;
    top: -15px;
    right: -15px;
      color: lime;
  }
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
.table-container{
  height: 280px;
  overflow-y: scroll;
  width: 100%;
}
ul{
  padding-inline-start: 0px;
}
.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #fff;
  }
  .table-row {
    background-color: rgba(0,0,0,0.3);
    
  }

  .col-1 {
    flex-basis: 20%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5{
    flex-basis: 5%;
  }
  button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(185, 255, 191);
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
  
    width: 100%;
    background-color: #d0f3dd;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: lime;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: #f44336;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
  }
  
  button{
    background-color: red;
    border-width: 0;
    height: 15px;
    width: 20px;
  }
  @media all and (max-width: 767px) {
    .container{
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .table-container{
      height: 380px;
      width: 100%;
      
    }
    
    .responsive-table {
        width: 100%;
     
    }
    .responsive-table .button {
      position: relative;
      top: 50%;
      width: 74px;
      height: 36px;
      margin: 0;
      overflow: hidden;
    }
    .table-header {
      display: none;
    }
    li {
      display: block;
    }
    .col {
       flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      margin: 10px;
      &:before {
        color: #fff;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
      .col-4 {
        display: inline-block
      }
    }
  }
}